<section class="comment-edit-section">
    <h2 class="comment-edit-h2">Edit your comment below</h2>
    <form class="edit-comment-form">
        <input type="hidden" id="idvalue" value="{{comment.id}}"/>
        <input type="hidden" id="blogId" value="{{comment.blog_id}}"/>
        <div class="comment-update-div">
            <label class="comment-update-label" for="edit-comment_text">Text:</label>
            <textarea type="text" id="edit-comment_text">{{comment.comment_text}}</textarea>
        </div>
        <div class="comment-update-btn-section">
            <button class="comment-btn" type="submit">Update comment</button>
        </div>
    </form>
</section>

<section class="comment-edit-section">
    <h2 class="comment-edit-h2">Delete your comment?</h2>
    <form class="delete-comment-form">
        <input type="hidden" id="idValue" value="{{comment.id}}"/>
        <input type="hidden" id="blog_Id" value="{{comment.blog_id}}"/>
        <button class="comment-btn" type="submit">Delete comment</button>
    </form>
</section>

<script src="/js/updateComment.js"></script>
<script src="/js/deleteComment.js"></script>
