<section class="single-post-home-section">
        <div class="single-post-home-title">
            <header class="single-post-home-header">{{blog.title}}</header>
            <p class="single-post-home-p">Created by: {{blog.user.username}} on {{blog.createdAt}}</p>
        </div>
        <div>
            <p class="single-post-home-p">{{blog.content}}</p>
        </div>
</section>


{{#each blog.comments as |comment|}}
<section class="single-post-home-section">
    <a class="single-post-home-a" href="/hompage/blog/comment/{{comment.id}}">
        <header class="single-comment-home-header">Commented by: {{comment.user.username}} at {{comment.createdAt}}</header>
        <p class="single-comment-home-p">{{comment.comment_text}}</p>
    </a>
</section>
{{/each}}

<section class="single-post-home-section">
    <h2 class="single-post-home-h2">Add Comment</h2>
    <form class="add-comment-form">
        <div class="single-comment-home-div" id="single-comment-text-section">
            <label class="single-comment-home-label" for="comment_text-add-comment">Text:</label>
            <textarea type="text" id="comment_text-add-comment"></textarea>
            <input type="hidden" id="blog_id" value="{{blog.id}}"/>
        </div>
        <div class="single-comment-home-div">
            <button class="single-comment-home-btn" type="submit">submit</button>
      </div>
    </form>
</section>

<script src="../../js/addComment.js"></script>
